In [1]:
import pandas as pd
import numpy as np

label_0 = pd.read_csv("csv/clean_data_by_label/label_0.csv")
label_1 = pd.read_csv("csv/clean_data_by_label/label_1.csv")
label_2 = pd.read_csv("csv/clean_data_by_label/label_2.csv")

In [2]:
stats_list = []

for col in label_0.columns:
    x = label_2[col]
    stats = {
        "Variable": col,
        "Minimumas": np.nanmin(x),
        "Q1": np.nanquantile(x, 0.25),
        "Mediana": np.nanmedian(x),
        "Vidurkis": np.nanmean(x),
        "Q3": np.nanquantile(x, 0.75),
        "Maksimumas": np.nanmax(x),
        "Dispersija": np.nanvar(x, ddof=1),
        "Neegzistuojancios_reiksmes": x.isna().sum()
    }
    stats_list.append(stats)

stats_df = pd.DataFrame(stats_list)

stats_df = stats_df.round(4)
stats_df

,Variable,Minimumas,Q1,Mediana,Vidurkis,Q3,Maksimumas,Dispersija,Neegzistuojancios_reiksmes
0,signal_std,0.1378,0.4139,0.4961,0.5227,0.6167,1.1293,0.0317,0
1,wl_side,40.0000,61.0000,70.0000,70.0343,78.5000,115.0000,137.0818,0
2,R_val,-0.1434,0.7174,1.0056,1.2076,1.5355,2.9445,0.4328,0
3,RR_r_0/RR_r_1,0.3357,1.1867,1.3417,1.3866,1.6040,2.5490,0.1564,0
4,P_val,-0.5331,0.3932,0.6038,0.5984,0.8524,2.0307,0.2121,0
5,Q_val,-2.4046,-0.4180,-0.1991,-0.2873,0.2628,1.4205,0.6319,0
6,label,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,0.0000,0

In [3]:
stats_df.to_csv("sutvarkytu_duomenu_aprasomoji_statistika/sutvarkytu_duomenu_aprasomoji_statistika_label_0.csv", index=False)